<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <form class="col-12 col-lg-auto mb-3 mb-lg-0">
          <input type="search" class="form-control" placeholder="Search..." name="filterPost" aria-label="Search" [(ngModel)]="filterPost">
        </form>
      </div>
    </div>
  </section>


  <div class="album py-5 bg-light">

    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

        <div class="col"  *ngFor="let project of projects |filter:filterPost">

          <div class="card shadow-sm">

            <div class="card-body">
              <h5 class="card-title">{{project.nombre}}</h5>
              <h6 class="card-subtitle mb-2 text-muted"></h6>
              <p class="card-text">{{project.descripcion}}</p>
              <fa-icon (click)="mostrarInfo(project)" class="col-sm-4" [icon]="faEject"></fa-icon>


            </div>

          </div>

        </div>

      </div>
    </div>
  </div>



</main>
